@import '../../variableStyles.scss';

.o-routines-container {
    background: $grey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.o-routines-content {
    // background: chocolate;
    background: $white;
    padding: 2vw;
    width: 60vw;
    height: 82.7vh;
}

.o-search-routines {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-search-routines h3 {
    color: $blue;
}

.o-routines-field {
    display: flex;
    flex-direction: column;
}

.o-routine-label {
    // background: red;
    padding: 0vw 1.5vw;
    color: $blue;
    display: flex;
    text-align: start;
    border-bottom: 2px solid $blue;
}

.o-routine-label h4 {
    margin: 1vw 0vw 0.5vw 0vw;
}

.o-routines-list {
    // background: burlywood;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.o-add-routine {
    margin-top: 3vh;
    width: 4vw;
    border-radius: 5vw;
    box-shadow: 1px 1px 5px $black;
}

.o-routine-info {
    background: $white;
    margin-left: 1vw;
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-routine-field {
    // background: cyan;
    color: $blue;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-routine-field h4 {
    margin: 0vw 0vw 0.5vw 0vw;
}

.o-field-routine {
    background: $grey;
    width: 18vw;
    margin-bottom: 1vw;
    padding: 0.3vw 1vw;
    border: none;
    border-radius: 1vh;
}