@import "../../variableStyles.scss";

.o-header-container{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-header-buttons-container{
    margin: 5vh 5vw;
}

.o-header-button{
    margin: 0rem 1rem;
    font-size: 22px;
    font-weight: bold;
    color: $blue;
    border: none;
    background-color: $white;
    outline:none;
    transition: 0.4s;
}

.o-header-button:hover{
    box-shadow: 0px 5px 0px 0px;
}

.o-header-login{
    font-weight: 800;
}

.o-header-logo {
    margin-left: 5vw;
    width: 20vw;
}