.o-header-container{

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.o-header-buttons-container{
    margin: 5vh 5vw;
}

.o-header-button{
    margin: 0rem 1rem;
    font-size: 24;
    font-weight: bold;
    color: #312C7F;
    border: none;
    background-color: rgb(255, 255, 255);
}

.o-header-login{
    font-weight: 800;
}

.o-header-logo {
    margin-left: 5vw;
    width: 20vw;
}