@import '../../variableStyles.scss';

.o-patients-container {
    background: $grey;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.o-patients-content {
    // background: chocolate;
    background: $white;
    padding: 2vw;
    width: 60vw;
    height: 82.7vh;
}

.o-search-patients {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-search-patients h3 {
    color: $blue;
}

.o-field-search {
    padding: 0.3vw 1vw;
    border-radius: 5vw;
    border: none;
    box-shadow: 1px 1px 5px $black inset;
}

.o-patients-field {
    display: flex;
    flex-direction: column;
}

.o-patient-label {
    // background: red;
    padding: 0vw 1.5vw;
    color: $blue;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $blue;
}

.o-patient-label h4 {
    margin: 1vw 0vw 0.5vw 0vw;
}

.o-patients-list {
    // background: burlywood;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.o-add-container {
    // background: red;
    display: flex;
    justify-content: flex-end;
}

.o-add-patient {
    margin-top: 3vh;
    width: 4vw;
    border-radius: 5vw;
    box-shadow: 1px 1px 5px $black;
}

.o-patient-info {
    background: $white;
    margin-left: 1vw;
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-info-title {
    // background: blue;
    width: 20vw;
    display: flex;
}

.o-patient-field {
    // background: cyan;
    color: $blue;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-patient-field h4 {
    margin: 0vw 0vw 0.5vw 0vw;
}

.o-field-patient {
    background: $grey;
    width: 18vw;
    margin-bottom: 1vw;
    padding: 0.3vw 1vw;
    border: none;
    border-radius: 1vh;
}

.o-button-container {
    // background: blue;
    width: 20vw;
    display: flex;
    justify-content: flex-end;
}

.o-button-action {
    background: $green;
    color: $white;
    width: 8vw;
    padding: 1vh 1vw;
    border: none;
    border-radius: 1vw;
    box-shadow: 1px 1px 5px $black;
}