@import '../../variableStyles.scss';

.o-patient-detail {
    background: $grey;
    margin: 0.8vw 0vw 0.3vw 0vw;
    padding: 0vw 1.5vw;
    display: flex;
    justify-content: space-between;
    border-radius: 1vh;
    // box-shadow: 1px 1px 5px $black;
}

.o-patient-detail p {
    margin: 0.2vw 0vw;
}