@import '../../variableStyles.scss';

.o-routine-detail {
    background: $grey;
    margin: 0.8vw 0vw 0.3vw 0vw;
    padding: 0vw 1.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1vh;
    text-align: start;
    box-shadow: 3px 3px 5px $gray;
}

.o-routine-detail p {
    margin: 0.2vw 0vw;
}