@import '../../variableStyles.scss';


.o-header-select-container{
    margin-right: 2rem;
    width:20px;
    height: 20px;
}
.o-dropmenu-content {
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0vw;
    top: 10vh;
    width: 50%; /* Full width */
    background-color: white;
    text-align: center;
    border-radius:  0px 0px 10px 10px;
}

.o-select-button{
    background: none;
    border: none;
    fill:$blue;
}

.o-dropmenu-button{
    margin: 1rem;
    background: none;
    border: none;
    color: $blue;
    font-weight: bolder;
    font-size: 16px;
}

