@import '../../variableStyles.scss';

.o-container-home {
    display: flex;
    justify-content: flex-start;
}

.o-container-img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

.o-bg-img {
    width: 80vw;
    height: 90vh;
}

.o-title {
    position: absolute;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 40px;
    color: $white;
    background: linear-gradient(to right, $blue 20vw , rgba(49, 44, 127, 0) 90vw);
}

.o-sentence {
    padding-left: 5vw;
    margin: 0;
}

.o-title-content {
    margin-bottom: 5vh;
}

.o-container-side {
    margin: 10vh 0vh 0vh 0vh;
    color: $blue
}

.o-side-container-img {
    /* position: absolute; */
    display: flex;
}

.o-side-img {
    width: 50%;
    height: 40vw;
}

/* .o-deg {
    position: relative;
    width: 100%;
    height: 40vw;
    background: linear-gradient(to right, rgba(49, 44, 127, 0.8) 0vw , rgba(49, 44, 127, 0.4) 25vw, rgba(49, 44, 127, 0.9) 50vw, rgba(49, 44, 127, 0.4) 75vw, rgba(49, 44, 127, 0.8) 100vw);
} */

.o-title-sentence {
    font-size: 50px;
}

.o-services {
    margin: 10vh 0vw;
    color: $blue;
}

.o-container-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.o-service {
    margin: 1rem;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    color: $white;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
}

.o-icon-service {
    position: absolute;
    border-radius: 1vw;
    width: 20vw;
    height: 20vw;
    animation-duration: 1s;
}

.o-home-service-title {
    margin-top: 0vh;
    padding-top: 2vh;
    margin-bottom: 25vh;
    font-size: 20px;
    width: 100%;
    height: 5vh;
    background: $blue;
    box-shadow: 0px 5px 15px rgb(34, 34, 34);
}

.o-container-title {
    transform: translateY(-17%);
    position: relative;
    width: 20vw;
    height: 30vw;
}

.o-container-title:hover {
    transform: translateY(0%);
}