$blue: rgb(57, 48, 132);
$white: rgb(255, 255, 255);
$grey: rgb(231, 231, 231);
$black: rgb(50, 50, 50);
$green: rgb(124, 200, 54);
$greenDark: rgb(34, 153, 84);
$gray: rgb(150, 150, 150);
$red: rgb(231, 76, 60);
$yellow: rgb(243, 156, 18)