$blue: rgb(49, 44, 127);
$white: rgb(255, 255, 255);
$grey: rgb(231, 231, 231);
$black: rgb(50, 50, 50);
$green: rgb(124, 200, 54);
$gray: rgb(150, 150, 150);
$red: rgb(255, 66, 66);
$yellow: rgb(255, 170, 0)