.o-container-footer {
    height: 10vh;
    background: rgba(49, 44, 127, 1);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}

.o-footer-info {
    margin-top: 2rem;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.o-footer-contact{
    margin: 2rem 10vw 0rem 0rem;
    color: white;
    display: flex;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
}

.o-footer-contact .o-text{
    margin: 0px 1rem;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    box-shadow: 0px 0px 0px 0px;
}

.o-text:hover{
    box-shadow: 0px 5px 0px 0px;
}

