.o-aboutus-image-container {
    position: relative;
    height: 50vh;
    max-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    object-fit: contain;
}

.o-aboutus-image{
    width:50%; 
    height:100%; 
    object-fit: fill;
}

.o-aboutus-image-container .o-info{
    position: absolute;
    background: rgb(31,122,140);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(31,122,140,0.2) 18%, rgb(31,122,140,0.99) 50%,  rgba(31,122,140,1) 100%);
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.o-aboutus-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.o-aboutus-title{
    margin-top: 0rem;
    margin-left: 2rem;
    font-size: 56px;
    text-align: left;
}

.o-aboutus-description{
    margin-left: 2rem;
    width: 80%;
    max-width: 100%;
    font-size: 22px;
    word-wrap: normal;
    text-align: left;
}

.o-aboutus-team {
    padding: 5vh 15vw 7vh 15vw;
}

.o-aboutus-persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7vh;
}

.o-aboutus-person {
    padding: 2vw;
    border-radius: 1rem;
    background: #D8EFC3;
}

.o-aboutus-img {
    width: 10rem;
    border-radius: 50%;
}

.o-aboutus-ig {
    padding-top: 5vh;
    background: #D8EFC3;
    height: 45rem;
}