.o-aboutus-container {
    color: #312C7F
}

.o-aboutus-title {
    padding: 5vh 15vw 7vh 15vw;
    background: #D8EFC3;
}

.o-aboutus-team {
    padding: 5vh 15vw 7vh 15vw;
}

.o-aboutus-persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7vh;
}

.o-aboutus-person {
    padding: 2vw;
    border-radius: 1rem;
    background: #D8EFC3;
}

.o-aboutus-img {
    width: 10rem;
    border-radius: 50%;
}

.o-aboutus-ig {
    padding-top: 5vh;
    background: #D8EFC3;
    height: 45rem;
}