.o-aboutus-image-container {
    position: relative;
    height: 70vh;
    max-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    object-fit: contain;
}

.o-aboutus-image{
    width:80%; 
    height:100%; 
    object-fit: fill;
}

.o-aboutus-image-container .o-info{
    position: absolute;
    background: #1f7a8c;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(31,122,140,0.2) 15%, rgb(31,122,140,0.8) 50%, rgb(31,122,140,1) 81%,  rgba(31,122,140,1) 100%);
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.o-aboutus-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.o-aboutus-title{
    margin-top: 0rem;
    margin-left: 2rem;
    font-size: 56px;
    text-align: left;
}

.o-aboutus-description{
    margin-left: 2rem;
    width: 80%;
    max-width: 100%;
    font-size: 22px;
    word-wrap: normal;
    text-align: left;
}

.o-aboutus-team {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
}

.o-aboutus-persons {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.o-aboutus-person {
    width: 25%;
    margin: 2rem;
    border-radius: 1rem;
    color: #ffffff;
    background: #1f7a8c;
    font-size: 20px;
}

.o-aboutus-person-img {
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
}

.o-bottom-text-people{
    margin: 2rem;
}

.o-aboutus-ig {
    padding-top: 5vh;
    background: #D8EFC3;
    height: 45rem;
}